---
import { getIcon } from "../utils/getIcon";
const { title, subtitle } = Astro.props;
---

<a 
  target={Astro.props.target}
  href={Astro.props.href}
  class={`
  ${Astro.props.class}
  col-span-5
  relative rounded-xl
  backdrop-blur-md
  border border-white/30
  shadow-inner shadow-white/10
  overflow-hidden
  group
`}
>
  <span class="transform group-hover:scale-125 group-hover:bg-black/80 shadow-sm group-hover:shadow-black rounded duration-700 transition-transform absolute right-3 top-3" set:html={getIcon("rowRight")}></span>

  <div
    class="absolute z-10 bottom-0 top-0 w-full h-full
    bg-gradient-to-b from-transparent from-40% via-[#000]/60 to-[#000]/90"
  >
  </div>

  <slot name="image" />

  <div
    class="relative select-none flex flex-col gap-1 p-2 md:p-6 text-lg z-20 justify-end h-full"
  >
    <h2 class="text-3xl font-semibold text-balance text-white mb-4 uppercase">
      {title}
    </h2>

    {
      subtitle && (
        <h3 class="text-3xl font-semibold text-indigo-500 -mt-4 mb-4">
          {subtitle}
        </h3>
      )
    }

    <slot name="content" />
  </div>
</a>