---
import { getIcon } from "../utils/getIcon";
const { left, title, dateStart, dateEnd, time, description } = Astro.props;
let href = title.replace(/\s+/g, '').toLowerCase();

---

{left ? (
  <section class={`mb-8 mr-8 flex flex-col justify-center items-start ${left ? 'md:items-start' : 'md:items-end'}`}>
    <div class="text-right w-full md:w-1/2 mb-1">
      <time datetime={time} class="text-md text-white">{dateStart} - {dateEnd}</time>
    </div>
    <a href={href} class="bg-indigo-900/90 hover:shadow-md hover:shadow-white/40 p-4 rounded-lg text-right w-full md:w-1/2 group">
      <div class="relative">
        <h4 class="text-xl font-bold text-white">{title}</h4>
        <span class='absolute top-0 right-0 md:left-0 md:right-auto transform group-hover:scale-110 transition-transform' set:html={getIcon("more")}></span>
      </div>
      <p class="text-sm text-gray-200 mt-1">{description}</p>
    </a>
  </section>
)  : (
  <section class="mb-8 flex flex-col ml-8 justify-center items-end">
    <div class="text-left w-full md:w-1/2 mb-1" >
      <time datetime={time} class="text-md text-white">{dateStart} - {dateEnd}</time>
    </div>
    <a href={href} class="bg-indigo-900/90 hover:shadow-md hover:shadow-white/40 p-4 rounded-lg text-left w-full md:w-1/2 md:min-w-1/2 group">
      <div class="relative">
        <h4 class="text-xl font-bold text-white">{title}</h4>
        <span class="absolute right-0 top-0 transform group-hover:scale-110 transition-transform" set:html={getIcon("more")}></span>
      </div>
      <p class="text-sm text-gray-200 mt-1 flex items-center">Description</p>
    </a>
  </section>
)}

<style>
  .group:hover .group-hover:scale-110 {
    transform: scale(1.1);
  }

  @media (max-width: 768px) {
    section {
      margin-right: 0;
      margin-left: 30px;
      align-items: start ;
    }

    .text-left, .text-right {
      text-align: left; 
      margin-right: 30px;
    }
  }
</style>